@import "tailwindcss";
body{
    margin: 0;
    background-color: aqua;
}
.left{
    background-color: brown;
    height: 100vh;
    
}
.right{
    height: 100vh;
    background-color: aquamarine;
}
.below{
    height:100vh;
}